In [1]:
!pip install eli5

Collecting eli5
  Downloading https://files.pythonhosted.org/packages/97/2f/c85c7d8f8548e460829971785347e14e45fa5c6617da374711dec8cb38cc/eli5-0.10.1-py2.py3-none-any.whl (105kB)
     |████████████████████████████████| 112kB 3.4MB/s
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.6/dist-packages (from eli5) (0.8.7)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from eli5) (0.22.2.post1)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from eli5) (1.18.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from eli5) (1.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from eli5) (0.10.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from eli5) (1.12.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from eli5) (2.11.2)
Requirement already satisfied: attrs>16.0.0 in /usr/local/lib/python3.6/dist-packages (from eli5) (19.3.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18->eli5) (0.15.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->eli5) (1.1.1)
Installing collected packages: eli5
Successfully installed eli5-0.10.1

In [2]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [3]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import classification_report
import eli5
from eli5.sklearn import PermutationImportance
from nltk.corpus import stopwords
from string import punctuation

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.metrics.scorer module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.feature_selection.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.feature_selection. Anything that cannot be imported from sklearn.feature_selection is now part of the private API.
  warnings.warn(message, FutureWarning)
Using TensorFlow backend.

In [4]:
from google.colab import drive 
drive.mount('/gdrive')
%cd /gdrive

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive
/gdrive

In [5]:
data = pd.read_csv('/gdrive/My Drive/exam/jigsaw-toxic-comment-train.csv.zip')

## 1. Описательный анализ данных с привязкой к целевой переменной (toxic) и 2 другим дополнительным колонкам (как минимум 5 статистик на каждую группу) - 1.5 балл

In [6]:
data.head(10)

                 id  ... identity_hate
0  0000997932d777bf  ...             0
1  000103f0d9cfb60f  ...             0
2  000113f07ec002fd  ...             0
3  0001b41b1c6bb37e  ...             0
4  0001d958c54c6e35  ...             0
5  00025465d4725e87  ...             0
6  0002bcb3da6cb337  ...             0
7  00031b1e95af7921  ...             0
8  00037261f536c51d  ...             0
9  00040093b2687caa  ...             0

[10 rows x 8 columns]

In [7]:
data.shape

(223549, 8)

In [8]:
def is_ascii(s):
    return all(ord(c) < 128 for c in s)

In [9]:
stops = stopwords.words('english')

In [10]:
data['text_len'] = data['comment_text'].apply(len) #длина текста
data['text_len_tokens'] = data['comment_text'].apply(lambda x: len(x.split())) #количество токенов
data['number_of_caps'] = data['comment_text'].apply(lambda x: len([ch for ch in x if ch.isupper()])) #количество слов с заглавной буквы
data['number_of_nonalphanum'] = data['comment_text'].apply(lambda x: len([ch for ch in x if not ch.isalnum()])) #количество  не буквенно-цифровых символов
data['number_of_lows'] = data['comment_text'].apply(lambda x: len([ch for ch in x if ch.islower()])) #количество строчных букв
data['number_of_digits'] = data['comment_text'].apply(lambda x: len([ch for ch in x if ch.isdigit()])) #количество цифр
data['number_of_ascii'] = data['comment_text'].apply(lambda x: len([ch for ch in x if is_ascii(ch)])) #количество ascii символов
data['number_of_nonascii'] = data['comment_text'].apply(lambda x: len([ch for ch in x if not is_ascii(ch)])) #количество non-ascii символов
data['number_of_punctuation'] = data['comment_text'].apply(lambda x: len([ch for ch in x if ch in punctuation])) #количество знаков пунктуации
data['number_of_stops'] = data['comment_text'].apply(lambda x: len([ch for ch in x if ch in stops])) #количество стоп-слов

In [ ]:
data.head(3)

                 id  ... number_of_stops
0  0000997932d777bf  ...              84
1  000103f0d9cfb60f  ...              29
2  000113f07ec002fd  ...              99

[3 rows x 18 columns]

### Отдельные колонки

### Toxic/Non-toxic

In [ ]:
data.groupby('toxic')['text_len', 'text_len_tokens', 'number_of_caps', 'number_of_nonalphanum', 'number_of_lows', 'number_of_digits', 
                      'number_of_ascii', 'number_of_nonascii', 'number_of_punctuation', 'number_of_stops'].agg(['mean'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

         text_len text_len_tokens  ... number_of_punctuation number_of_stops
             mean            mean  ...                  mean            mean
toxic                              ...
0      402.691178       68.415161  ...             16.974704      141.799609
1      280.604097       48.573466  ...             14.257202       80.432941

[2 rows x 10 columns]

1. Средняя длина нетоксичного комментария выше, чем у токсичного. 
2. Среднее количество слов у нетоксичных текстов также больше. 
3. Среднее количество используемых заглавных букв у токсичных сообщений в несколько рах выше, чем у нетоксичных.
4. Среднее количество  не буквенно-цифровых символов в нетоксичных комментариях выше.
5. Количество строчных букв в токсичных комментариях меньше, чем в нетоксичных.
6. Цифр в нетоксичных комментариях также в среднем больше. 
7. Ascii-символов в нетоксичных комментариях больше.
8. Не-ascii символов в целом по комментариям практически нет, но если они встречаются, то чаще в нетоксичных комментариях.
9. Оба типа комментариев имеют практически одинаковое среднее количество знаков препинания. В нетоксичных комментариях их чуть больше. 
10. Используемых стоп-слов в нетоксичных комментариях гораздо больше, чем в токсичных.

### Severe_toxic/Non-severe_toxic

In [ ]:
data.groupby('severe_toxic')['text_len', 'text_len_tokens', 'number_of_caps', 'number_of_nonalphanum', 'number_of_lows', 'number_of_digits', 
                      'number_of_ascii', 'number_of_nonascii', 'number_of_punctuation', 'number_of_stops'].agg(['mean'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                text_len text_len_tokens  ... number_of_punctuation number_of_stops
                    mean            mean  ...                  mean            mean
severe_toxic                              ...
0             389.999386       66.358270  ...             16.591014      136.307514
1             505.456677       84.462793  ...             30.690112       93.232926

[2 rows x 10 columns]

1. Средняя длина сильно токсичных комментариев гораздо больше. 
2. Среднее количество слов в сильно токсичных комментариях выше.
3. Количество заглавных букв в сильно токсичных текстах во много раз превышает количество в обычных комментариях.
4. Среднее количество не буквенно-цифровых символов в токсичных комментариях выше.
5. Строчных букв в обычных комментариях больше. 
6. В обоих типах комментариев цифр мало, но в обычных комментариях в среднем чуть больше.
7. Ascii-символов больше в сильно токсичных комментариях.
8. Не-ascii символы практически отсутствуют в обоих типах. В обычных чуть больше.
9. Количество знаков пунктуации в среднем почти в 2 раза больше в токсичных комментариях.
10. Количество стоп-слов в обычных комментариях в среднем больше.

### Obscene/Non-obscene

In [ ]:
data.groupby('obscene')['text_len', 'text_len_tokens', 'number_of_caps', 'number_of_nonalphanum', 'number_of_lows', 'number_of_digits', 
                      'number_of_ascii', 'number_of_nonascii', 'number_of_punctuation', 'number_of_stops'].agg(['mean'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

           text_len text_len_tokens  ... number_of_punctuation number_of_stops
               mean            mean  ...                  mean            mean
obscene                              ...
0        397.332876       67.559707  ...             16.850087      139.417163
1        280.951730       48.362109  ...             14.358072       75.193822

[2 rows x 10 columns]

1. Средняя длина грубых комментарией намного меньше, чем обычных.
2. Количество слов в грубых текстах также меньше в среднем на 19.
3. Заглавных букв в грубых комментариях во много раз больше.
4. Среднее количество не буквенно-цифровых символов в грубых комментариях меньше.
5. Негрубые тексты содержат гораздо больше строчных букв. 
6. Оба типа комментариев содержат мало цифр. В негрубых их в среднем на 1 больше.
7. Количество ascii-символов практически полностью совпадает со средней длиной комментариев в обих типах.
8. В негрубых в среднем встречается 1.6 не ascii-символов, что чуть больше, чем в грубых.
9. Количество знаков пунктуации практически одинаковое, но в негрубых их на 2 больше, чем в грубых.
10. В грубых комментариях используется меньше стоп-слов, чем в негрубых почти в 2 раза.

### Threat/Non-threat

In [ ]:
data.groupby('threat')['text_len', 'text_len_tokens', 'number_of_caps', 'number_of_nonalphanum', 'number_of_lows', 'number_of_digits', 
                      'number_of_ascii', 'number_of_nonascii', 'number_of_punctuation', 'number_of_stops'].agg(['mean'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

          text_len text_len_tokens  ... number_of_punctuation number_of_stops
              mean            mean  ...                  mean            mean
threat                              ...
0       391.241807       66.547128  ...             16.686637      136.141282
1       316.910015       56.825835  ...             25.809869       67.416546

[2 rows x 10 columns]

1. Длина текстов с угрозой меньше, чем текстов без угрозы.
2. Количество слов в текстах без угрозы на 10 больше. 
3. Количество заглавных букв в текстах с угрозой во много раз больше, чем в текстах без.
4. Среднее количество не буквенно-цифровых символов одинаково.
5. Количество строчных букв в текстах без угрозы больше, чем в 2 раза.
6. Количество цифр в обоих типах мало, но в текстах без угрозы их в среднем чуть больше.
7. Количество ascii-символов практически полностью совпадает со средней длиной комментариев в обих типах.
8. Не ascii-символы практически отсутствуют в обоих типах. В текстах без угрозы в среднем их 1.6.
9. Знаки пунктуации присутствуют в обоих типах комментариев и их количество почти одинаковое.
10. Количество использованных стоп-слов больше в текстах без угрозы в 2 раза.

### Insult/Non-insult

In [ ]:
data.groupby('insult')['text_len', 'text_len_tokens', 'number_of_caps', 'number_of_nonalphanum', 'number_of_lows', 'number_of_digits', 
                      'number_of_ascii', 'number_of_nonascii', 'number_of_punctuation', 'number_of_stops'].agg(['mean'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

          text_len text_len_tokens  ... number_of_punctuation number_of_stops
              mean            mean  ...                  mean            mean
insult                              ...
0       397.340234       67.544536  ...             16.879710      139.233245
1       272.206476       47.227176  ...             13.617569       73.897381

[2 rows x 10 columns]

1. Средняя длина комментария с оскорблением меньше, чем обычный комментарий.
2. В обычном комментарии в среднем на 20 слов больше, чем в тексте с оскорблением.
3. Количество заглавных букв в тексте с оскорблением в несколько раз больше.
4. Среднее количество не буквенно-цифровых символов в обычных комментариях больше, чем в оскорбительных.
5. Количество строчных букв почти в 2 раза больше в комментариях без оскорбления.
6. Количество цифр в обоих типах мало, но в текстах без оскорбления их в среднем чуть больше.
7. Количество ascii-символов практически полностью совпадает со средней длиной комментариев в обих типах.
8. Не ascii-символы практически отсутствуют в обоих типах. В текстах без оскорбления в среднем их 1.6.
9. Знаки пунктуации присутствуют в обоих типах комментариев и их количество почти одинаковое.
10. Количество использованных стоп-слов больше в текстах без оскорбления в 2 раза.

### Identity_hate/Non-identity_hate

In [ ]:
data.groupby('identity_hate')['text_len', 'text_len_tokens', 'number_of_caps', 'number_of_nonalphanum', 'number_of_lows', 'number_of_digits', 
                      'number_of_ascii', 'number_of_nonascii', 'number_of_punctuation', 'number_of_stops'].agg(['mean'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                 text_len text_len_tokens  ... number_of_punctuation number_of_stops
                     mean            mean  ...                  mean            mean
identity_hate                              ...
0              391.744793       66.651428  ...             16.740187      136.492779
1              314.438829       52.473784  ...             14.054795       77.008503

[2 rows x 10 columns]

1. Средняя длина комментария без ненависти личности больше на примерно 75 слов.
2. Обычные комментарии в среднем имеют больше слов.
3. Количество заглавных букв в тексте с ненавистью личности в несколько раз больше.
4. Среднее количество не буквенно-цифровых символов в обычных комментариях больше. 
5. Количество строчных букв почти в 2 раза больше в комментариях без ненависти.
6. Количество цифр в обоих типах мало, но в текстах без оскорбления их в среднем чуть больше.
7. Количество ascii-символов практически полностью совпадает со средней длиной комментариев в обих типах.
8. Не ascii-символы практически отсутствуют в обоих типах. В текстах без ненависти в среднем их 1.58.
9. Знаки пунктуации присутствуют в обоих типах комментариев и их количество почти одинаковое.
10. Количество использованных стоп-слов больше в текстах без ненависти меньше, чем в 2 раза.

### Привязка к другим колонкам

### Toxic/Insult

In [14]:
data.groupby(['toxic', 'insult'])['text_len', 'text_len_tokens', 'number_of_caps', 'number_of_nonalphanum', 'number_of_lows', 'number_of_digits', 
                      'number_of_ascii', 'number_of_nonascii', 'number_of_punctuation', 'number_of_stops'].agg(['mean'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                text_len text_len_tokens  ... number_of_punctuation number_of_stops
                    mean            mean  ...                  mean            mean
toxic insult                              ...
0     0       402.813001       68.433497  ...             16.978293      141.864081
      1       362.961165       62.435275  ...             15.804207      120.773463
1     0       294.234997       50.796784  ...             15.022434       89.669097
      1       266.957889       46.347651  ...             13.491110       71.186412

[4 rows x 10 columns]

1. Non-toxic/non-insult имеют самую большую среднюю длину. В non-toxic/insult комментариях длина текста больше, чем просто в toxic/non-insult. Toxic/insult в свою очередь имеют самые короткие тексты.
2. Non-toxic/non-insult имеют самое большое количество слов. В insult комментариях слов в среднем на 12 больше, чем просто в toxic/non-insult. Toxic/insult в свою очередь имеют меньше всего слов.
3. Заглавных букв больше всего в комментариях имеющие обе метки toxic/insult. Меньше всего в обычных комментариях без меток. Токсичные комментарии имеют больше заглавных букв, чем оскорбительные.
4. Среднее количество не буквенно-цифровых символов в обычных комментариях больше. Toxic/non-insult комментарии имеют меньше данных символов, чем non-toxic/insult. 
5. Количество строчных букв больше всего в комментариях без меток. Меньше всего строчных букв в комментариях с обеими метками toxic и insult. 
6. В комментариях всех типов используется мало цифр. Больше всего в текстах non-toxic/insult, меньше всего в toxic/insult. 
7. Количество ascii-символов практически полностью совпадает со средней длиной комментариев во всех типах.
8. Не ascii-символы практически отсутствуют в данных типах.
9. Знаков пунктуации больше всего в обычных комментариях. В комментариях toxic/insult их наименьшее количество.
10. Больше всего стоп-слов в обычных комментариях. Меньше всего в toxic/insult. В toxic/non-insult их меньше, чем в non-toxic/insult.

### Toxic/Obscene

In [12]:
data.groupby(['toxic', 'obscene'])['text_len', 'text_len_tokens', 'number_of_caps', 'number_of_nonalphanum', 'number_of_lows', 'number_of_digits', 
                      'number_of_ascii', 'number_of_nonascii', 'number_of_punctuation', 'number_of_stops'].agg(['mean'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                 text_len text_len_tokens  ... number_of_punctuation number_of_stops
                     mean            mean  ...                  mean            mean
toxic obscene                              ...
0     0        402.480948       68.373545  ...             16.961355      141.744579
      1        474.761905       82.681973  ...             21.551020      160.664966
1     0        291.786412       50.874288  ...             14.568857       91.700163
      1        271.086738       46.615218  ...             13.991949       70.843317

[4 rows x 10 columns]

1. Non-toxic/obscene комментарии являются самыми длинными. Toxic/obscene имеют самую маленькую длину.
2. Больше всего слов в грубых комментариях non-toxic/obscene. Меньше всего в toxic/obscene вместе.
3. Наибольшее количество заглавных букв наблюдается в toxic/obscene комментариях. В нормальных комментариях их меньше всего. Грубые и токсичные комментарии отдельно имеют примерно одинаковое количество заглавных букв.
4. Среднее количество не буквенно-цифровых символов в грубых комментариях больше. Toxic/obscene комментарии имеют меньше всего данных символов.
5. Больше всего строчных букв в грубых комментариях non-toxic/obscene. Toxic/obscene имеют меньше всего данных букв.
6. В комментариях всех типов используется мало цифр. Больше всего в текстах obscene, меньше всего в toxic/obscene.
7. Количество ascii-символов практически полностью совпадает со средней длиной комментариев в обих типах.
8. Не ascii-символы практически отсутствуют в данных типах.
9. Больше всего знаков пунктуации в грубых комментариях non-toxic/obscene.
10. Non-toxic/obscene грубые комментарии имеют больше всего стоп-слов. Меньше всего в toxic/obscene.

### Toxic/Threat

In [13]:
data.groupby(['toxic', 'threat'])['text_len', 'text_len_tokens', 'number_of_caps', 'number_of_nonalphanum', 'number_of_lows', 'number_of_digits', 
                      'number_of_ascii', 'number_of_nonascii', 'number_of_punctuation', 'number_of_stops'].agg(['mean'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                text_len text_len_tokens  ... number_of_punctuation number_of_stops
                    mean            mean  ...                  mean            mean
toxic threat                              ...
0     0       402.693648       68.415233  ...             16.975268      141.805764
      1       388.428571       68.000000  ...             13.714286      106.257143
1     0       279.579450       48.331983  ...             13.872311       80.909165
      1       313.082569       56.227829  ...             26.457187       65.337920

[4 rows x 10 columns]

1. Обычные комментарии самые длинные. Самыми короткими являются комментарии типа toxic/non-threat. В non-toxic/threat также наблюдается большая средняя длина. 
2. Обычные комментарии и non-toxic/threat имеют одинаковое среднее количество слов. Меньше всего слов в toxic/non-threat комментариях. 
3. Заглавных букв больше всего в toxic/threat комментариях. Меньше всего в обычных. Тексты с угрозой имеют больше заглавных букв, чем токсичные.
4. Среднее количество не буквенно-цифровых символов незначительно отличается. В toxic/non-threat комментариях их меньше всего. В остальных типах их примерно одинаково.
5. Больше всего строчных букв в обычных комментариях. Меньше всего в toxic/threat. Non-toxic/threat имеют больше строчных букв, чем toxic/non threat. 
6. В комментариях всех типов используется мало цифр. Больше всего в текстах threat, меньше всего в toxic/threat.
7. Количество ascii-символов практически полностью совпадает со средней длиной комментариев в обих типах.
8. Не ascii-символы практически отсутствуют в данных типах.
9. Больше всего знаков пунктуации в текстах toxic/threat. В toxic/non-threat и non-toxic/threat их примерно одинаково.
10. Наибольшее количество стоп-слов наблюдается в текстах комментариев типа non-toxic/non-threat. Меньше всего в toxic/threat. В комментариях non-toxic/threat их больше, чем в toxic/non-threat.

## 2. Бейзлайн модель из sklearn (векторайзер + модель) с отбором признаков (через l1 регуляризацию, на глаз через анализ важных параметров или через permutation importance) - 2 балл

In [34]:
X = data['comment_text']
y = data['toxic']

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [36]:
count_vect = CountVectorizer()

In [37]:
X_train = count_vect.fit_transform(X_train)
X_train.shape

(149777, 207901)

In [38]:
X_test = count_vect.transform(X_test)
X_test.shape

(73772, 207901)

In [39]:
clf = SGDClassifier().fit(X_train, y_train)

In [40]:
y_pred = clf.predict(X_test)

In [41]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.96      0.98      0.97     66765
           1       0.78      0.60      0.68      7007

    accuracy                           0.95     73772
   macro avg       0.87      0.79      0.83     73772
weighted avg       0.94      0.95      0.94     73772

In [50]:
eli5.formatters.as_dataframe.explain_weights_df(clf)

       target  feature    weight
0           1   x70089  2.124311
1           1   x84835  2.022218
2           1   x64497  1.984915
3           1   x20704  1.935832
4           1   x70128  1.845519
...       ...      ...       ...
72052       1   x69507 -1.181918
72053       1  x166952 -1.366470
72054       1   x67193 -1.499975
72055       1  x122363 -1.894602
72056       1  x103580 -2.110567

[72057 rows x 3 columns]

In [51]:
def analyze_features(model, n):
  index_to_word = {v:k for k,v in count_vect.vocabulary_.items()}
  data = eli5.formatters.as_dataframe.explain_weights_df(model)
  
  class1 = data[data['target']==1]
  
  print('\n', n, 'самых значимых признаков класса (toxic):')
  for element in class1.feature[:n]:
    feature = element.strip('x')
    print(index_to_word[int(feature)], element)

In [52]:
analyze_features(clf, 30)

 30 самых значимых признаков класса (toxic):
fuck x70089
idiot x84835
faggot x64497
asshole x20704
fucking x70128
suck x164233
shit x154929
idiots x84845
bitch x28022
stupid x163563
fucked x70099
moron x114373
france x69133
cunt x46526
ass x20589
bullshit x32375
motherfucker x114630
bastard x24691
sucks x164261
bark x24314
penis x129840
nigger x119855
jerk x91987
dumbass x56450
fuckin x70126
cock x40275
fag x64461
niggers x119867
nigga x119839
dicks x51942

In [53]:
sum(sum(clf.coef_ != 0))

72056

In [54]:
top_features = [int(i[1:]) for i in eli5.formatters.as_dataframe.explain_weights_df(clf).feature if 'BIAS' not in i]

In [55]:
len(top_features)

72056

### Top 1000 features

In [56]:
top1000_features = top_features[:1000]

In [57]:
X_train_eli5 = X_train[:,top1000_features]
X_test_eli5 = X_test[:,top1000_features]

In [58]:
eli5_model = SGDClassifier().fit(X_train_eli5, y_train)

In [59]:
y_pred = eli5_model.predict(X_test_eli5)

In [60]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.95      0.98      0.96     66765
           1       0.70      0.49      0.58      7007

    accuracy                           0.93     73772
   macro avg       0.82      0.74      0.77     73772
weighted avg       0.92      0.93      0.93     73772

### Top 10000 features

In [61]:
top10000_features = top_features[:10000]

In [62]:
X_train_eli5 = X_train[:,top10000_features]
X_test_eli5 = X_test[:,top10000_features]

In [63]:
eli5_model = SGDClassifier().fit(X_train_eli5, y_train)

In [64]:
y_pred = eli5_model.predict(X_test_eli5)

In [65]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.95      0.98      0.97     66765
           1       0.78      0.55      0.65      7007

    accuracy                           0.94     73772
   macro avg       0.87      0.77      0.81     73772
weighted avg       0.94      0.94      0.94     73772

### Top 30000 features

In [66]:
top30000_features = top_features[:30000]

In [67]:
X_train_eli5 = X_train[:,top30000_features]
X_test_eli5 = X_test[:,top30000_features]

In [68]:
eli5_model = SGDClassifier().fit(X_train_eli5, y_train)

In [69]:
y_pred = eli5_model.predict(X_test_eli5)

In [70]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.95      0.99      0.97     66765
           1       0.81      0.54      0.65      7007

    accuracy                           0.94     73772
   macro avg       0.88      0.76      0.81     73772
weighted avg       0.94      0.94      0.94     73772

### Top 50000 features

In [71]:
top50000_features = top_features[:50000]

In [72]:
X_train_eli5 = X_train[:,top50000_features]
X_test_eli5 = X_test[:,top50000_features]

In [73]:
eli5_model = SGDClassifier().fit(X_train_eli5, y_train)

In [74]:
y_pred = eli5_model.predict(X_test_eli5)

In [75]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.95      0.99      0.97     66765
           1       0.82      0.54      0.65      7007

    accuracy                           0.95     73772
   macro avg       0.89      0.77      0.81     73772
weighted avg       0.94      0.95      0.94     73772

## 3. Ансамбль из моделей в sklearn (ансамблевые модели типа randomforest не считаются). Нужно минимум 5 разных моделей - 2 балла