# Домашнее задание 1

In [4]:
import pandas as pd
from datetime import datetime

In [5]:
weather_hist = pd.read_csv('weatherHistory.csv')

In [6]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [7]:
weather_hist.head(5)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [8]:
weather_hist.rename({'Formatted Date':'date', 'Temperature (C)':'temp', 'Apparent Temperature (C)':'temp_app',
                    'Precip Type':'weather_type', 'Wind Speed (km/h)':'wind_speed', 'Visibility (km)':'visibility',
                     'Humidity':'humidity', 'Wind Bearing (degrees)':'wind_bearing', 'Pressure (millibars)':'pressure',
                    'Daily Summary':'summary'}, 
                    axis=1, inplace=True)

In [9]:
weather_hist.head(5)

,date,Summary,weather_type,temp,temp_app,humidity,wind_speed,wind_bearing,visibility,Loud Cover,pressure,summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

### Самый холодный день

In [10]:
weather_hist['date'].loc[weather_hist['temp'].idxmin()], weather_hist['temp'].min()

('2012-02-10 07:00:00.000 +0100', -21.822222222222226)

### Самый ветренный день

In [11]:
weather_hist['date'].loc[weather_hist['wind_speed'].idxmax()], weather_hist['wind_speed'].max()

('2007-01-29 13:00:00.000 +0100', 63.8526)

### Cколько раз шел дождь летом 2014 года

In [12]:
weather_hist["Date"]= pd.to_datetime(weather_hist["date"], utc=True)

In [13]:
weather_hist['year'] = weather_hist['Date'].dt.year

In [14]:
weather_hist['month'] = weather_hist['Date'].dt.month

In [15]:
weather_hist['week'] = weather_hist['Date'].dt.week

In [16]:
weather_hist['day'] = weather_hist['Date'].dt.day

In [17]:
rainy_days = weather_hist[(weather_hist['year'] == 2014) & (weather_hist['month'] >= 6) & (weather_hist['month'] <= 8) 
             & (weather_hist['weather_type'] == 'rain')]

In [18]:
len(rainy_days['day'].unique())

31

### Cамый ветрянный месяц

In [19]:
windy_months = weather_hist.groupby('month')['wind_speed'].agg(['mean'])

In [20]:
windy_months

            mean
month
1      11.515865
2      12.180815
3      13.415825
4      11.876139
5      10.953186
6       9.632453
7       9.637124
8       8.942707
9       9.610204
10     10.008495
11     10.947953
12     11.094578

In [21]:
print(windy_months.idxmax())
print(windy_months.max())

mean    3
dtype: int64
mean    13.415825
dtype: float64

### Cамый влажный год

In [22]:
wet_years = weather_hist.groupby('year')['humidity'].agg(['mean'])

In [23]:
wet_years

          mean
year
2005  0.890000
2006  0.767349
2007  0.689647
2008  0.701239
2009  0.707247
2010  0.796861
2011  0.736008
2012  0.689513
2013  0.754197
2014  0.748571
2015  0.732354
2016  0.760868

In [24]:
print(wet_years.idxmax())
print(wet_years.max())

mean    2005
dtype: int64
mean    0.89
dtype: float64

### Неделя с самой переменчивой погодой

In [25]:
crazy_weeks = weather_hist.groupby('week')['temp'].agg(['std'])

In [26]:
crazy_weeks

           std
week
1     5.008042
2     4.811115
3     4.532339
4     5.482606
5     5.251543
6     6.456311
7     4.628565
8     4.967552
9     4.839419
10    4.947341
11    5.265073
12    5.452593
13    5.334651
14    5.272616
15    5.270850
16    5.020456
17    5.413772
18    5.522132
19    5.025860
20    5.262296
21    4.923256
22    5.221413
23    5.599345
24    5.158063
25    5.794001
26    5.538135
27    5.677395
28    5.755464
29    5.864455
30    5.587042
31    5.383029
32    5.709605
33    5.925675
34    6.149509
35    5.875341
36    6.043471
37    5.163760
38    5.689703
39    5.315730
40    5.486404
41    5.161809
42    5.234595
43    4.911441
44    5.231834
45    4.951843
46    4.762689
47    4.133849
48    3.617409
49    4.155522
50    4.280489
51    4.211092
52    4.982740
53    5.182074

In [27]:
print(crazy_weeks.idxmax())
print(crazy_weeks.max())

std    6
dtype: int64
std    6.456311
dtype: float64

# Домашнее задание 2
Попробуйте придумать признаки (как минимум 5), которые можно извлечь из текста, помимо тех 4, которые мы уже использовали. Обучите модель на них и проверьте, улучашается ли качество. Опишите признаки, которое придумали и почему считаете, что они должны показывать вероятность покупки.

Побробуйте подобрать параметры векторизатора (TfidfVectorizer или CountVectorizer, или обоих) и параметры алгоритма так, чтобы качество, которое у нас получилось (0.248) улучшилось. Опишите то, что попробовали

In [28]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.svm import LinearSVR
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import StandardScaler
import numpy as np
from sklearn.metrics import mean_squared_error
from string import punctuation
from nltk.corpus import stopwords
import re
from pymystem3 import Mystem
mystem_analyzer = Mystem()

In [29]:
data = pd.read_csv('data.csv')

In [30]:
def is_ascii(s):
    return all(ord(c) < 128 for c in s)

In [31]:
data['text_len'] = data['description'].apply(len)
data['text_len'].mean()

193.20714414446888

In [32]:
stops = stopwords.words('russian')

In [33]:
data['text_len'] = data['description'].apply(len)
data['text_len_tokens'] = data['description'].apply(lambda x: len(x.split()))
data['number_of_caps'] = data['description'].apply(lambda x: len([ch for ch in x if ch.isupper()]))
data['number_of_nonalphanum'] = data['description'].apply(lambda x: len([ch for ch in x if not ch.isalnum()]))
data['number_of_lows'] = data['description'].apply(lambda x: len([ch for ch in x if ch.islower()]))
data['number_of_digits'] = data['description'].apply(lambda x: len([ch for ch in x if ch.isdigit()]))
data['number_of_ascii'] = data['description'].apply(lambda x: len([ch for ch in x if is_ascii(ch)]))
data['number_of_nonascii'] = data['description'].apply(lambda x: len([ch for ch in x if not is_ascii(ch)]))
data['number_of_punctuation'] = data['description'].apply(lambda x: len([ch for ch in x if ch in punctuation]))
data['more_than_mean_length'] = data['description'].apply(lambda x: len(x) > 193)
data['number_of_stops'] = data['description'].apply(lambda x: len([ch for ch in x if ch in stops]))

#### Дополнительно к имеющимся у нас признакам я добавил количество строчных букв, количество цифр, количество латиницы, количество кириллицы, количество знаков пунктуации, значения True/False сранивая тексты со средней длинной объявлений и количество стоп-слов.

По моему мнению данные признаки могут означать следующее:
- количество строчных букв увеливает длинну всего объявления (большая информативность)
- количество цифр также может означать доп информацию о товаре (размеры, версии, количество товара и т.д.)
- количество ascii символов могут означать слова на латинице (большая информативность)
- количество не-ascii символов соответственно показывают кириллицу
- количество знаков препинания может говорить о грамотности человека (условно)
- длина объявления больше средней означает больше деталей о товаре
- подсчитывая количество стоп слов мы можем узнать сколько в объявлении слов не имеющих особого значения

In [34]:
X = data[['text_len', 'text_len_tokens', 'number_of_caps', 'number_of_nonalphanum', 'number_of_lows', 'number_of_digits', 
          'number_of_ascii', 'number_of_nonascii', 'number_of_punctuation', 'more_than_mean_length', 'number_of_stops']].values
y = data.deal_probability.values

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [36]:
regressor = Ridge(alpha=1)
regressor.fit(X_train, y_train)
preds = regressor.predict(X_test)
np.sqrt(mean_squared_error(y_test, preds))

0.26315780608981393

In [37]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [38]:
cv = CountVectorizer(max_features=1000, min_df=5, max_df=0.4, ngram_range=(1,2))
X = cv.fit_transform(data.description)
y = data.deal_probability.values

In [39]:
X.shape

(138715, 1000)

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [41]:
regressor = Ridge(alpha=10)
regressor.fit(X_train, y_train)
preds = regressor.predict(X_test)
np.sqrt(mean_squared_error(y_test, preds))

0.25122001411557177

In [42]:
cv = TfidfVectorizer(max_features=1000, min_df=5, max_df=0.4)
X = cv.fit_transform(data.description)
y = data.deal_probability.values

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [44]:
regressor = Ridge(alpha=1)
regressor.fit(X_train, y_train)
preds = regressor.predict(X_test)
np.sqrt(mean_squared_error(y_test, preds))

0.24837305901488083

### После добавления новых признаков текста, к сожалению, не удалось улучшить результат

In [45]:
0.24837316009318702 < 0.24837195358889066

False

## Изменение параметров

In [46]:
cv2 = TfidfVectorizer(max_features=1000, min_df=5, max_df=0.4, stop_words=stops, ngram_range=(1,1))
X = cv2.fit_transform(data.description)
y = data.deal_probability.values

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [48]:
regressor = Ridge(alpha=1)
regressor.fit(X_train, y_train)
preds = regressor.predict(X_test)
np.sqrt(mean_squared_error(y_test, preds))

0.24835254830468453

In [51]:
0.24835254830468453 < 0.24837333373683992

True

### Я перепробовал изменение нескольких параметров tfidf векторизатора, таких как ngram_range, norm, mind_df, max_df и это не привело к улучшению результата, а только к его ухудшению. Только добавление параметра stop_words позволило совсем незначительно улучшить результат.

In [64]:
regressor2 = Ridge(alpha=20)
regressor2.fit(X_train, y_train)
preds = regressor2.predict(X_test)
np.sqrt(mean_squared_error(y_test, preds))

0.2480299352489673

In [54]:
0.2480299352489673 < 0.24835254830468453

True

In [69]:
regressor3 = Ridge(alpha=20)
regressor3.fit(X_train, y_train)
preds = regressor3.predict(X_test)
np.sqrt(mean_squared_error(y_test, preds))

0.24803004452791064

### Изменение параметра альфа в алгоритме Ridge также привело к повышению точности. Однако дальнейшее усиление регуляризации только снижает качество.